.dialogue-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(129, 101, 72);
    color: black;
    padding: 20px;
    /* font-family: ; */
    border-top: 2px whitesmoke;
    min-height: 100px;
}

.dialogue-box p {
    margin: 0;
    white-space: pre-wrap;
}

.dialogue-box button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 50px;
  }
  
  .dialogue-box button:hover {
    background-color: #0056b3;
  }