.dialogue-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(129, 101, 72);
    color: black;
    padding: 20px;
    border-top: 2px whitesmoke;
    min-height: 120px;
}

.dialogue-box p {
    margin: 0 auto;
    white-space: wrap;
    max-width: 90%;
}
.choices{
  display: inline;
}

.dialogue-box button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 50px;
    font-size: 1.5rem;
  }
  
  .dialogue-box button:hover {
    background-color: #0056b3;
  }