body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: url('/media/default_background.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  text-shadow: 2px 2px 4px black;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #2e3a46;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b30000;
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-shadow: 2px 2px 4px black; /* Add black shadow to paragraphs */
}

.character-portrait {
  position: absolute;
  margin-top: 80px;
  width: 20%;
  height: auto;
  object-fit: cover;
  margin-right: auto;
  float: left;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* .scene-container {
  position: relative;
  height: 100vh;
  width: 100vw;
} */
.scene-container {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
}

.dialogue-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(129, 101, 72);
  color: black;
  padding: 20px;
  border-top: 2px whitesmoke;
  height: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dialogue-box p {
  margin: 0;
  white-space: pre-wrap;
  flex: 1;
  font-size: 3rem;
  justify-content: space-around;
}

.dialogue-box button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.dialogue-box button:hover {
  background-color: #0056b3;
}

#character-image {
  position: absolute;
  bottom: 150px;
  left: 50px;
  width: 25%;
  height: 450px;
  object-fit: contain;
  z-index: 0;
}

.other-character-image {
  position: absolute;
  bottom: 120px;
  right: 50px;
  width: 25%;
  height: 450px;
  object-fit: contain;
}

.choices {
  display: flex;
  flex-direction: column;
}

.scene2img {
  background-image: url('/media/default_background_night.png');
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.scene2img img {
  animation: fadeInAnimation ease 8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  #character-image {
    width: 30%;
    height: 400px;
    bottom: 120px;
  }

  .other-character-image {
    width: 30%;
    height: 400px;
    bottom: 120px;
  }

  .dialogue-box {
    height: 90px;
    padding: 15px;
  }

  .dialogue-box p {
    font-size: 2rem;
  }

  .dialogue-box button {
    margin-top: 5px;
    padding: 8px;
  }
  .background {
    background-size: cover; /* Ensure the background covers the entire area */
    background-position: center;
  }
}

@media (max-width: 992px) {
  #character-image {
    width: 35%;
    height: 350px;
    bottom: 100px;
  }

  .other-character-image {
    width: 35%;
    height: 350px;
    bottom: 100px;
  }

  .dialogue-box {
    height: 80px;
    padding: 10px;
  }

  .dialogue-box p {
    font-size: 2rem;
  }

  .dialogue-box button {
    margin-top: 3px;
    padding: 6px;
  }
}

@media (max-width: 768px) {
  #character-image {
    width: 40%;
    height: 300px;
    bottom: 80px;
  }

  .other-character-image {
    width: 40%;
    height: 300px;
    bottom: 80px;
  }

  .dialogue-box {
    height: 70px;
    padding: 8px;
  }

  .dialogue-box p {
    font-size: 2rem;
  }

  .dialogue-box button {
    margin-top: 2px;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  #character-image {
    width: 45%;
    height: 250px;
    bottom: 60px;
  }

  .other-character-image {
    width: 45%;
    height: 250px;
    bottom: 60px;
  }

  .dialogue-box {
    height: 60px;
    padding: 5px;
  }

  .dialogue-box p {
    font-size: 1.5rem;
  }

  .dialogue-box button {
    margin-top: 2px;
    padding: 4px;
  }
}
