.slide-img-display {
    width: 70%;
    height: 100vh;
    display: flex;
    float: right;
    margin-right: 15%;
    /* position: relative; */
    margin-top: 0;
    padding: 0;
    
}

.slideshow-div {
    background-image: url('');
    background-color:  rgb(53, 50, 50);
}

body {
    background-image: url('');
    background-color: rgb(53, 50, 50);
}

.snowflake {
    content: '';
}